* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'quicksand', sans-serif;
}

::placeholder {
	color: rgba(255, 255, 255, 0.753);
	font-family: 'quicksand', sans-serif;
}

::-webkit-input-placeholder,
:-ms-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(255, 255, 255, 0.753);
	font-family: 'quicksand', sans-serif;
}

.app {
	background: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.486)
		),
		url('./img/cold.svg');

	background-size: cover;
	background-position: top;
	transition: 0.9s ease;
}

.app.warm {
	background: linear-gradient(
			to bottom,
			rgba(221, 15, 0, 0.397),
			rgba(24, 0, 0, 0.384)
		),
		url('./img/hot.svg');

	background-size: cover;
	background-position: bottom;
	transition: 0.9s ease;
}

main {
	min-height: 100vh;
	padding: 30px 10%;
}

.search-box {
	width: 100%;
	margin: 0 0 10%;
}

.search-box .search-bar {
	display: block;
	width: 100%;
	padding: 20px;

	appearance: none;
	background: none;
	border: none;
	outline: none;

	background-color: rgba(255, 255, 255, 0.363);
	border-radius: 50px;

	-moz-box-shadow: inset 0 0 10px #0000008e;
	-webkit-box-shadow: inset 0 0 10px #0000008e;
	box-shadow: inset 0 0 10px #0000008e;

	color: #ffffff;
	font-size: 20px;

	transition: 0.5s ease;
}

.search-box .search-bar:focus {
	background-color: rgba(255, 255, 255, 0.562);
}

.wrap {
	display: block;
}

.details {
	color: #fff;
	text-align: center;
	font-weight: 500;
	text-shadow: 1px 1px rgba(59, 59, 59, 0.5);
}

.deg {
	display: inline;
	position: absolute;
	top: 25px;
	font-size: 50px;
}

.location-box .location {
	color: #fff;
	font-size: 32px;
}

.feels-like {
	font-size: 25px;
	font-style: italic;
	font-weight: 100;
	margin-bottom: 20px;
}

.humidity {
	font-size: 3em;
	display: inline;
	margin-left: 20px;
}

.location-box .date {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	text-shadow: 2px 2px rgba(53, 53, 53, 0.5);
}

.weather-box {
	text-align: center;
}

.weather-box .temp {
	position: relative;
	display: inline-block;

	color: #fff;
	font-size: 7em;
	font-weight: bold;

	text-shadow: 2px 5px rgba(54, 54, 54, 0.5);
	text-align: center;
}

.weather-box .weather {
	color: #fff;
	font-size: 2em;
	font-weight: 700;
	text-shadow: 2px 2px rgba(58, 58, 58, 0.5);
}
